/* Stylez */
body {font-family: 'Raleway', sans-serif;}
body, html {height: 100%;}

.wrapper {box-sizing: border-box; background: #80CBC4; box-shadow: 0 0 5px #888; height: 100%; overflow: auto; }


a {color: #FF5722; text-decoration: none; border-bottom: 1px solid #CCFF26;}
a:hover {border-bottom: 1px solid #CCFF26; color: #FF5722}
p {color: #FFFFFF; font-weight: 200; font-size: 20px;}

.name {font-family: Playfair Display; color: #fff; font-size: 50px; font-weight: 900; padding-bottom: 20px;}

.container {margin: 0 auto; width: 600px; height: 400px; padding: 80px 12px; overflow: auto;}

.meta {color: #FFFFFF; text-transform: uppercase; font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; font-size: 18px; letter-spacing: .15em;}
.meta a:hover {border-bottom: 1px solid #CCFF26; color: #EEEEEE;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline;}

footer .inline-list li {padding-right: 40px;}
footer {margin: 0 auto; position: absolute; bottom: 0px; padding: 40px 0; width: 600px;}


